h1{
    color: #890000;
}

h3{
    color: #890000;
    background-color: #dedede;
}

header{
    background-color: #dedede;
}

main{
    background-color: #ffffff;
}

body{
    background-color: #88c7fb;
}

footer{
    background-color: #dedede;
}

